.ck-pagination {
    padding-top: 10px;
    position: absolute;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -khtml-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%)
}

.ck-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important
}

.ck-center {
    margin-left: auto;
    margin-right: auto;
}

.ck-card {
    border: 1px solid #ccc;
    position: relative;
    display: block;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 8px 16px 8px 8px;
    height: 284px;
    width: 900px;
    z-index: 1
}

.ck-news-image {
    position: absolute;
    height: 268px;
    width: 320px;
    border-radius: 4px;
    overflow: hidden;
    margin-left: 1px
}

.ck-news-image img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -khtml-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%)
}

.ck-card-title {
    position: absolute;
    padding-right: 20px;
    color: #44444d;
    margin-top: 5px;
    font-size: 22px;
    line-height: 27px
}

.ck-card-content {
    position: absolute;
    padding-right: 20px;
    color: #44444d;
    top: 95px;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px
}

.ck-pull-right {
    width: 528px;
    right: 24px
}

.ck-thumbnail {
    max-width: 115%;
    height: auto;
}

.ck-share {
    right: 10px;
    bottom: 5px;
    position: absolute;
}

@media only screen and (max-width: 600px) {
    .ck-card {
        width:96%;
        margin-left: 2%;
        margin-right: 2%;
        height: 650px;
    }

    .ck-news-image {
        width: 96%;
        height: 300px;
        margin-left: 0;
        margin-top: 0
    }

    .ck-pull-right {
        left: 10px;
        padding: 3px;
        width: 480px !important;
        margin-top: 410px !important;
        right: 0 !important
    }

    .ck-card-title {
        width: 96%;
        margin-left: 0;
        padding-right: 0;
        font-size: 18px;
        line-height: 24px
    }

    .ck-card-content {
        padding-right: 0;
        font-size: 14px;
        top: 60px
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .ck-card {
        width: 500px;
        height: 700px
    }

    .ck-news-image {
        position: absolute;
        height: 400px;
        width: 480px;
        border-radius: 4px;
        overflow: hidden;
        margin-left: 1px;
        margin-top: 0
    }

    .ck-pull-right {
        width: 480px !important;
        margin-top: 410px !important;
        right: 0 !important;
        left: 10px;
        padding: 3px
    }
}

@media only screen and (min-width: 900px) and (max-width: 1070px) {
    .ck-card {
        width:96%;
        margin-left: 2%;
        margin-right: 2%;
        height: 250px
    }

    .ck-card-content {
        top: 70px
    }

    .ck-news-image {
        position: absolute;
        height: 220px;
        width: 260px;
        border-radius: 4px;
        overflow: hidden;
        margin-left: 1px;
        margin-top: 5px
    }
}


.modal {
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 1050;
    width: 560px;
    margin-left: -280px;
    background-color: #ffffff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    *border: 1px solid #999;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.modal.fade {
    top: -25%;
    -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
    -o-transition: opacity 0.3s linear, top 0.3s ease-out;
    transition: opacity 0.3s linear, top 0.3s ease-out;
}

.modal.fade.in {
    top: 10%;
}

.modal-header {
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
}

.modal-header .close {
    margin-top: 2px;
}

.modal-header h3 {
    margin: 0;
    line-height: 30px;
}

.modal-body {
    position: relative;
    max-height: 400px;
    padding: 15px;
    overflow-y: auto;
}

.modal-form {
    margin-bottom: 0;
}

.modal-footer {
    padding: 14px 15px 15px;
    margin-bottom: 0;
    text-align: right;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
}

.modal-footer:before,
.modal-footer:after {
    display: table;
    line-height: 0;
    content: "";
}

.modal-footer:after {
    clear: both;
}

.modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
    margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
    margin-left: 0;
}