body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color: white;
    font-size:13pt;
    line-height: 17pt;
}

.clear {
    clear:both;
}

a, a:hover, a:visited, a:active {
    color:#7b90b5;
    text-decoration: none;
}

#wrapper, .wrapper-mid {
    background: none;
}

.wrapper-top, .wrapper-bottom  {
    display:none;
}

#paper {
    width:820px;
    margin:0 auto;
}

.paper-top, .paper-bottom {
    display:none;
}

#paper-mid {
    width:820px;
    margin:0 auto;
    background-color:#FFF;
    display:block;
    padding:0;
    overflow: hidden;
    padding-bottom:75px;
    padding-top:7px;
}

.entry {
    width:820px;
    display: block;
    padding-top:55px;
    clear: both;
}

h1 {
    width:500px;
    font-size:42pt;
    color:#1b4491;
    margin-bottom:0;
}

h1 span {
    font-size:21pt;
    display:block;
    margin-left:15px;
    margin-top:20px;
    color:#1b4491;
}

h2 {
    width:180px;
    height: 23px;
    text-align: right;
    float:left;
    padding:0;
    margin:0;
    clear:both;
    font-size:22pt;
    margin-bottom:-12px;
    color:#1b4491;
}

p {
    width:600px;
    margin-left:40px;
    float:right;
}

ul.list {
    clear: both;
    padding:0;
    margin:0;
    overflow: hidden;
}

ul.list li {
    display:block;
    float:right;
    padding-top:32px;
}


h3 {
    width:180px;
    text-align: right;
    float:left;
    padding:0;
    clear:both;
    font-size: 13pt;
    color:black;
}

em {
    font-family: Georgia, "Times New Roman", serif;
    font-style: italic;
    color:#999;
    font-size:12pt;
    display: block;
    padding-top:0;
}

ul.info {
    float:right;
    width:600px;
    margin-left:40px;
    background: none;
    list-style: square;

}

ul.info li {
    margin:0;
    padding:0;
    float:left;
    display: block;
    width:600px;
    padding-left:0;
    background-position: 0 .5em;
    margin-top:12px;
    list-style-type: square;
}

ul.skills {
    margin:0;
    padding:0;
    float:right;
    width:600px;
    margin-left:40px;
    margin-top:-6px;
    background: none;
    list-style: square;
}

ul.skills li {
    margin:0;
    padding:0;
    float:left;
    width:176px;
    padding-left:0;
    background-position: 0 .5em;
    margin-top:6px;
}

img.portrait {
    border:1px solid #000;
    padding:10px;
}

.self {
    width:500px;
    float:left;
    padding-top:11px;
    margin-left:0;
    margin-bottom:15px;
    margin-left:38px;
}

.self ul {
    padding-top: 10px;
}

.self ul li {
    background-repeat: no-repeat;
    padding-left:0;
    background-position: 0 .1em;
    height:25px;
    display:block;
    margin-top:-2px;
}

.social {
    display:none;
}

/* ELEMENTS */
/* ----------------------------------------- */

table {
    width: 590px;
    margin-left:40px;
    float:right;
    border-collapse: collapse;
    border-bottom:1px dashed #999;
    border-top:1px dashed #999;
}

table td {
    padding: 10px;
    padding-top:0;
    border-right:1px dashed #999;
}

table td:hover {
    background-color: #f2f2f2;
}

table th {
    padding: 10px;
    padding-top:0;
    color:#7b90b5;
    text-align: left;
    border-right:1px dashed #999;
}

table td.center {
    text-align: center;
}

table td.last {
    background: none;
}

table th.center {
    text-align: center;
}

table th.last {
    background: none;
}

table tr {
    border-left:1px dashed #999;
    border-top:1px dashed #999;
}

table tr.caption {
    border-left:1px dashed #999;
}

blockquote {
    border-left:3px solid #7b90b5;
    padding-left:8px;
    margin-top:20px;
    width:585px;
    margin-left:40px;
    float:right;
}

pre {
    width:500px;
    margin-left:40px;
    float:right;
}

abbr, acronym {
    border-bottom:1px dashed #7b90b5;
}

strong {
    font-weight: bold;
}

small {
    font-size:70%;
}

big {
    font-size:1.2em;
}

/* GO TO TOP */
/* ----------------------------------------- */

#message {
    display:none;
}

.works {
    display:none;
}