/* CSS For Activity Box shown at Home Page */

.profilebox{
    width: 300px;
    font-family: "Roboto Slab";
    padding: 10px 5px;
    cursor: pointer;
    background: rgba(255,255,255,0.9);
    border-radius: 5px;
    box-shadow: 2px 3px 7px rgba(0,0,0,0.66);
    position: fixed;
    z-index: 2;
}

.resultbox{
    height: 200px;
    background: rgba(255,255,255,0.9);
    cursor: pointer;
    padding: 5px 5px;
    border-radius: 3px;
    box-shadow: 2px 3px 7px rgba(0,0,0,0.66);
    z-index: 2;
}


/*Activity Container at Home Page*/

.activitybox{
    padding: 10px 15px;
    cursor: pointer;
    background: rgba(255,255,255,0.9);
    border-radius: 3px;
    box-shadow: 2px 3px 7px rgba(0,0,0,0.66);
    z-index: 2;

}
.nav-box{
    font-family: "Roboto Slab";
    padding: 10px 5px;
    cursor: pointer;
    background: black;
    border-radius: 5px;
    box-shadow: 5px 6px 10px rgba(0,0,0,0.70);

}

.activitybox .username{
    font-size: large;
    padding-left: 10px;
    color: #1b4491;
    font-weight: bolder;
}

#activity-desc{
    background: rgba(255,255,255,0.6);
    border: none;
}

.activitybox .activity-title p{
    font-size: 27px;
    color: indianred;
    padding-left: 10px;
    font-weight: 500;
}

.activitybox .activity-description p{
    font-size: 15px;
    color: #122b40;
    padding-left: 10px;

}

.activitybox .activity-content{
    font-size: medium;

}



.background-image{
    height: 100%;
    width: 100%;
    position: fixed;
    filter: blur(6px);
    background: url('https://ak5.picdn.net/shutterstock/videos/6894499/thumb/1.jpg');
    z-index: -2;
    margin-left: -12px;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}




/*CSS for layout.app*/

.heading h1{
    z-index: 2;
    font-weight: 500;
    font-size: 50px;
    padding: 10px 10px;
    text-align: center;

}

/*For Profile Page*/
.heading-box{
    padding: 5px 5px 5px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.66);
}

.heading-box h1, h2, h3, h4 h5{
    color:#11866f;
    font-weight: 500;
}

.fixbar {
    width: 100%;
    height:30px;
    position: fixed;
    left: 0px;
    top: 0px;
    right:0;
    height: 30px;
    background: red;
    z-index: 1;
}
#search {
    position: absolute;
    left:70%;
    top: 20%;
    width: 30px;
    height: 22px;
    z-index: 2;
    background:blue;

}





